<app-header/>
<main>
    <ul id="users">
        <!-- Legacy For Loop -->
        <!-- <li *ngFor="let user of users">
            <app-user [user]="user" (select)="onSelectedUser($event)"/>
        </li> -->

        <!-- it's a new feature added in angular 17 -->

        @for (user of users; track user.id) {
            <li>
                <app-user [selected] = "user.id === selectedUserId" [user]="user" (select)="onSelectedUser($event)"/>
            </li>
        }

    </ul>

    @if (selectedUser) {
        <app-task [user]="selectedUser"/>
    } @else {
        <p>select a user to see their task!</p>
    }
    

</main>